
.challenge_container{
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--cinza2, #9FA0A4);
}

.challenge_titulo{

  color: var(--preto, #000);
  text-align: center;
  font-family: Montserrat;
  font-size: 1.45rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.challenge_logo{
  width: 6.5em;
  height: auto;
  flex-shrink: 0;
  margin-bottom: 0.5em;
}

.monthly_tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.6em;
}

.monthly_challenge_imagem{
  margin: 1em 0;
}
.monthly_challenge_texto, .diversity_challenge_texto{
  color: #000;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container_interacoes_monthly_challenge{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}

.diversity_challenge_imagem{
  max-width: 100%; 
  height: auto;
  margin: 0.7em 0;
}

.container_interacoes_monthly_challenge {
  display: flex;
  align-items: center;
  gap: 5.2rem;

  margin-top: 1.2rem;
}


.container_interacoes_monthly_challenge .likes,
.container_interacoes_monthly_challenge .comments {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  cursor: pointer;
} 

.challenge-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;

  margin-top: 2rem;
}

.challenge-list li {
  width: 100%;
}

.challenge-list .challenge {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  background: rgba(60, 203, 91, 0.25);
  border-radius: .8rem;
  padding: .8rem 1.2rem;
}

.challenge-list .challenge img {
  width: 2.8rem;
  height: 2.8rem;
}

.challenge-list .challenge .description {
  flex: 1;
}

.challenge-list .challenge .check,
.challenge-list .challenge .price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
}

.challenge-list .challenge .price {
  margin-left: 6rem;
}