

.container_introducao {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  justify-content: center;
  align-items: center;
  height: 90vh; /* Define a altura para ocupar a altura completa da viewport */
}

.login-intro-verde{
  width: 95%;
  
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.swiper-pagination{
  margin-bottom: 1em;
}

.container_introducao_logo{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-items: start;
  width: 100%;
}
.introducao_logo{
  width: 10em;
  margin-left: 1em;
}

.introducao_video{
  max-width: 100%; 
  height: auto; 
}

.introducao_texto_titulo{
  color: var(--preto, #000);
  text-align: center;
  font-family: Montserrat;
  font-size: 1.45rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.introducao_texto_titulo_destaque{
  color: var(--verde1);
}

.introducao_texto_texto_container{
  margin: 3em 1em;
}


.introducao_texto_texto{
  color: var(--preto, #000);
  text-align: start;
  font-family: Montserrat;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container_botoes{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.sign_up{
  padding: 0.5em 3em;
  color: var(--branco);
  font-family: Montserrat;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 1em;
  border: none;
  background-color: var(--verde1);
}

.log_in{

  padding: 0.5em 3.4em;
  color: var(--verde1);
  font-family: Montserrat;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 1em;
  border: 1px solid var(--verde1);
  background-color: var(--branco);
}