*{
    font-family: var(--fonte_principal);
}
.perfil-page{
    box-sizing: border-box;
    padding: 30px;
}
.img-perfil{
   text-align: center; 
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   height: 70px;
}
.nome-perfil{
    font-family: var(--fonte_principal);
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
.nivel-perfil{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.nivel-perfil a{
    text-decoration: none;
    color: var(--verde2);
    font-weight: 600;
    font-size: 15px;
}
.nivel-perfil img{
    width: 28px;
    height: 28px;
}
.nivel-perfil h3{
    font-size: 14px;
    margin-left: 10px;
    color: #00952f90;
}
.infos-perfil{
    text-align: start;
    align-items: center;
    margin-top: 30px;
    font-size: 13px;
    font-weight: 500;
}
.sobre-mim-div{
    background-color: #3ccb5b59;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 2px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sobre-mim {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px; /* Espaçamento inferior */
}
.sobre-mim-title {
    font-weight: 600;
    margin-right: 10px;
}
.lapis {
    height: 18px;
    width: 18px;
    margin-left: 30px;
}
.text-sobre-mim{
    margin-top: 5px;
    margin-bottom: 12px;
    font-weight:500;
}
.titulo-postagem{
    font-weight: bolder;
    margin-top: 15px;
}
.container{
    margin: 1em;
    display: flex;
    flex-wrap: 5em;
    justify-content: center;
    border-bottom: 1px solid var(--cinza2, #9FA0A4);
}
.foto-perfil{
    border-radius: 3em;
    width: 2em;
    align-self: flex-start;
}
.postagem-usuario{
    display: flex;
    justify-content: space-between;
    margin-left: 0.3em;
}
.nome-usuario{
    color: var(--preto);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.titulo{
    display:flex;
}
.semente-foto{
    width: 25px;
}
.semente{
    color: var(--verde2);
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 4px;
}
.tres-pontos{
    align-self: flex-start;
    width: 18px;
}
.conteudo{
    word-wrap: break-word;
    color: var(--preto);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.container-botoes{
    margin: 0.5em 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.6em; 
}
.botoes{
    color: var(--branco, #FFF);
    font-family: Montserrat;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    padding: 0rem 0.2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    background: var(--verde4, #87D300);
}
.post-div{
    width: 100%; 
    height: 0; 
    padding-bottom: 100%;
    position: relative; 
    overflow: hidden; 
    border-radius: 0.5em;
}
.foto-post{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.interacoes{
    display: flex;
    justify-content: space-between;
    margin: 0.8em 0;
}
.curtidas-comentarios{
    display: flex;
}
.curtidas{
    display: flex;
    margin-right: 1em;
}
.curtidas-icon{
    margin-right: 0.3em;
    height: 25px;
}
.curtidas-text{
    color: var(--preto);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 3px;
}
.comentarios{
    display: flex;
}
.comentarios-icon{
    margin-right: 0.3em;
    height: 25px;
}
.comentarios-text{
    color: var(--preto);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 3px;
}
.salvar-icon{
    height: 25px;
}