.sidebar{
    display: none;
}
@media screen and (min-width: 1280px){
    .header_mobile{
        display: none;
    }
    .overlay{
        display: none;
    }
    .footer_mobile{
        display: none;
    }
    .nivel-sidebar{
        height: 16px;
    }
    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 200px;
        height: 100%;
        padding: 40px 10px 30px 10px;
        border-right: 1px solid  #2f3336;
        transition: 0.2s;
    }
    #desktop_index{
        margin-left: 50px;
    }
    .sidebar-header{
        width: 100%;
        margin-bottom: 16px;
    }
    .header_impact_points_imagem{
        margin-right: 10px;
        margin-left: 10px;
    }
    .container-nivel-sidebar{
        margin-left: 12px;
    }
    .semente-sidebar{
        color: #009530;
        font-size: 14px;
    }
    .btn-verperfil{
        margin-left: 40px;
    }
    .logo-img{
        width: 35px;
        margin-left: 10px;
        min-height: 35px;
        border-radius: 50%;
        object-fit: cover;
        transition: transform 0.4s;
    }
    .logo-img:hover{
        transform: scale(2,2);
    
    }
    .sidebar button{
        height: 60px;
        background: transparent;
        border: 0;
        font-family: inherit;
        color: inherit;
        cursor: pointer;
        text-align: left;
        padding: 0;
    }
    .sidebar button > span {
        display: inline-flex;
        align-items: center;
        gap: 12px;
        height: 48px;
        padding: 0 16px 0 12px;
        border-radius: 24px;
        line-height: 1;
        transition: all 0.2s;
    }
    .sidebar button:hover > span{
        background: rgba(0, 0, 0, 0.1)
    }
    .sidebar button img{
        position: relative;
        font-size: 28px;
        transition: 0.2s;
    }
    .sidebar button span{
        font-size: 16px;
    }
    .sidebar > nav{
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .btn-infos button{
        height: 47px;
    }
    .espaço{
        display: none;
    }
}
