@import url(./reset.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./post.css);
@import url(./perfil.css);
@import url(./challenge.css);
@import url(./pesquisa.css);
@import url(./parceiros.css);
@import url(./menu.css);
@import url(./shop.css);
@import url(./login.css);
@import url(./intro.css);
@import url(./sobre_niveis.css);
@import url(./intro-infos.css);
@import url(./intro2.css);
@import url(./projeto.css);

:root {
    --branco: #FFFFFF;
    --preto: #000000;           
    --cinza1: #626469;
    --cinza2: #9FA0A4;
    --verde1: #3CCB5B;
    --verde2: #009530;
    --verde4: #87D300;
    --fonte_principal: "Montserrat";
    --peso_texto: '400';
    --peso_nome: '500';
    --peso_desafio: '700';
}

body {
    font-family: var(--fonte_principal);
    font-weight: 400;
    background-color: var(--branco);

}

.flexbox_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.espaco{
    height: 4.1875rem;
}